<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.min.css"
    />
  </head>
  <body>


  <div class="container">
    <div class="text-center">
        <h2>Create Informations</h2>
    </div>
    <form action="" method="post" id="myFirstImage">
    <div class="custom-file-container" data-upload-id="myFirstImage">
        <div><label>Upload File<a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">&times;</a></label></div>
        <br>
        <label class="custom-file-container__custom-file">
            <input type="file" class="custom-file-container__custom-file__custom-file-input" accept="*" multiple aria-label="Choose File">
            <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />     
        </label>
    </div>
    <button type="submit">Submit</button>
  </form>
  </div>

  

    <script>
        const upload = new FileUploadWithPreview.FileUploadWithPreview('myFirstImage')
    </script>
  </body>
</html>